.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    border-radius: 8px;
}
.box{
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    border-radius: 8px;
    background-color: #748CAB;

    /* position: relative;
    top: 0; */
}
.heading{
    background-color: #3E5C76;
    margin-top: 15px;
    padding: 0 10px;
}

.footer{
    background-color: #3E5C76;
    margin-top: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    padding: 10px;
}

.item_all {
	padding: 0 10px 10px 10px;
}

.item_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}