.total{
    background-color: #fff;
    color: #0D1321;
    border-radius: 8px;
    padding: 5px 30px;
    text-align: center;
    cursor: cell;
    user-select: none;
    font-size: 20px;
  font-weight: 700;
}