input{
    width: 100%;
    max-width: 350px;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    text-indent: 10px;
}

button{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .6px;
    color: #fff;
    background-color: crimson;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s;
}

.update_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.update_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}